@use '../abstracts/mixins/modeDark' as *;

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--lightPrimary);

    // @include inDarkMode{
    //     background-color: #000;
    // }

    .title{
        font-size: 30px;
        padding: 3vh 0 3vh 0;
        color: #e3b575;
    }

    .main{
        display: flex;
        justify-content: center;
        width: 90%;
        
    }
}

.App.dark{
    background-color: var(--darkPrimary);
}