@use '../abstracts/mixins/media-queries' as *;
@use '../abstracts/mixins/create-container' as *;

.create-container {
  @include createContainer;

  .create-task{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--lightPrimary);
    border-radius: 10px;
    padding: 2vh 0 2vh 0;
    background-color: var(--lightSecondary);
    position: relative;

    @include tablet{
      width: 50%;
    }

    .form-createTask {
      text-align: center;
      width: 100%;
      margin-bottom: 2vh;
  
      h1 {
        margin: 1vh 0 2vh 0;
        font-size: 18px;
        color: var(--text-color);
      }
  
      input {
        padding: 0.5rem;
        border-radius: 10px;
        width: 85%;
      }
    }
  
    .cat-createTask {
      text-align: center;
      margin: 2vh 0 5vh 0;
  
      h2 {
        font-size: 15px;
        position: relative;
        z-index: 1;
        color: var(--text-color);

  
        span {
          background-color: var(--lightSecondary) ;
          padding: 0 15px;
        }
      }
      h2.linea:before {
        border-top: 1px solid var(--lightPrimary);
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
      }
  
      div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  
        button {
          margin: 0.3rem;
          width: 40%;
          height: 4vh;
        }
      }
    }
    .submit-task {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 5vh;
      padding: 0.5rem;
      border: 2px solid var(--darkSecondary);
      color: var(--darkSecondary);
      border-radius: 10px;
      font-weight: bold;
    }
  }
  
}

.create-container.is-open{
  display: flex;
}

// DARK
.create-task.dark{
  border: 2px solid var(--darkPrimary);
  background-color: var(--darkSecondary);

  .cat-createTask {
    h2 {     
      span {
        background-color: var(--darkSecondary) ;
      }
    }    
  }
}