@use '../abstracts/mixins/media-queries' as *;
@use "../abstracts/mixins/categories" as *;

aside{
  @include desktop{
    width: 30%;
  }

  @include categories(none, none, var(--text-color),var(--darkSecondary)){
    height: 100%;
    
    @include desktop{
      display: flex;
      flex-direction: column;
      width: 100%;
      
    }
  };

}