.body-tasks {
  height: auto;

  section {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding: 2vh 0 2vh 0;

    .check{
        width: 6em;
        height: 3em;
    }

    .task{
        padding-left: 3vw;
    }

    .categorie {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}
