@use '../abstracts/mixins/media-queries' as *;
@use '../abstracts/mixins/buttons' as *;

.tasks{
    width: 90%; 
    
    .header-tasks{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;

        @include desktop{
            background-color: var(--lightSecondary);
            border-radius: 10px;
            border-bottom: 5px solid var(--darkSecondary);
            padding: .5vh 0 .5vh 0;
            margin-bottom: 1vh;
        }
        
        .btn-add-task{

            @include btn-add;
                       
            @include desktop{
                background-color: var(--darkSecondary);
            }
            
        }
        .btn-add-category{
           @include btn-add;


            @include desktop{
                display: none;
            }
        }
    }
    .box{
        border-bottom: 8px solid var(--darkSecondary);
        border-radius: 10px 10px;
        background-color: var(--lightSecondary);
    }
    
    .footer-tasks{
        display: flex;
        justify-content: space-evenly;
        padding: 2vh 0 2vh 0;

        p{
            font-size: 13px;
            font-weight: bold;
            color: var(--darkSecondary);
        }
    }
}