.body-task {
  height: auto;
  
  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--lightPrimary);
    padding: 2vh 0 2vh 1vw;
    min-height: 12vh;

    .check{
      width: 35px;
      height: 4vh;
      
    }

    .task{
      flex-grow: 1;
      padding-left: 2vw;
      font-size: 13px;
      color: var(--text-color);

    }

    .categorie {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      font-size: 70%;
      font-weight: bold;
    }
  }
}
// DARK

.body-task.dark{
  section{
    border-bottom: 2px solid var(--darkPrimary);
  }
}
