.tasks{
    width: 80%;

    .header-tasks{
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .box{
        border-bottom: 8px solid var(--darkSecondary);
        border-radius: 10px 10px;
    }

    .footer-tasks{
        display: flex;
        justify-content: space-evenly;
        padding: 2vh 0 2vh 0;
    }
}