@mixin button($bg){
    font-weight: bold;
    background-color: $bg;
    width: 80%;
    height: 5vh;
    margin: 1vh 0 1vh 0;
    border-radius: 10px;
};

@mixin btn-add{
    border-radius: 10px;
    background-color: var(--lightSecondary);
    border-bottom: 3px solid var(--darkSecondary);
    padding: .3rem;
    color: var(--text-color);
}

.btn-urgent{
    @include button(var(--urgent))
  }
  .btn-completed{
    @include button(var(--completed))
  }
  .btn-later{
    @include button(var(--later))
  }
  .btn-toStudy{
    @include button(var(--toStudy))
  }
  .btn-important{
    @include button(var(--important))
  }
