@mixin button($bg){
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
    background-color: $bg;
};

@mixin btn-add{
    border-radius: 10px;
    background-color: var(--lightSecondary);
    border-bottom: 3px solid var(--darkSecondary);
    padding: .3rem;
    color: var(--text-color);
}