@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
    // fonts
    --font-poppins:'Poppins', sans-serif;
    --text-color: #F2F2F2;
    // Dark Colors
   --darkPrimary: #071330;
   --darkSecondary: #0C4160;
   
    // Light Colors
   --lightPrimary: #C3CEDA;
   --lightSecondary: #738FA7;

    // Buttons Colors
   --urgent: #db4021;
   --completed: #47c840;
   --later:#623cfa;
   --important:#fee944;
   --toStudy: #68b8fc;

}
